{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "builtin",
          "index",
          "sibling",
          "parent",
          "internal",
          "type"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "curly": ["warn", "all"],
    "no-unused-vars": "warn"
  }
}
