@import 'styles/typography';

tr {
    @include text-15-18-400;

    > *:last-child {
        text-align: end;
    }
}

.cell-wrapper {
    p {
        margin: 0;
    }

    &_status {
        p {
            margin: 4px 4px 0;
            color: var(--primary);
        }
    }
}
