@import 'styles/typography';

.students-table {
    tr {
        &.ant-table-row {
            cursor: pointer;
        }
    }

    .student-name {
        display: flex;
        align-items: center;
    }

    .cell-wrapper {
        p {
            margin: 0;
        }

        &__total {
            color: var(--primary);
        }

        &_status &__total {
            margin: 4px 4px 0;
        }
    }
}
