@import 'styles/typography';

.companies-list {
    display: flex;
    flex-direction: column;

    width: min(700px, 100%);

    &__search {
        margin-bottom: 30px;
    }

    &__info {
        padding: 10px;
    }

    &__item {
        @include text-18-27-700;

        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 10px;
        width: 100%;

        border-bottom: 2px solid var(--neutral-01);
    }

    .ant-list-item {
        border-block-end: none !important;
    }
}
