@import 'styles/typography';

.students-filters {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: min(1000px, 100%);
    margin-bottom: 30px;

    &__search {
        width: min(310px, 100%);
        margin: 10px 0;
    }

    &__filters {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 10px;

        min-height: 32px;
    }

    &__select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .filter-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            label {
                @include text-15-18-400;
                width: 100px;
                margin-right: 8px;
            }

            .ant-select {
                width: fit-content;
                min-width: 150px;

                .ant-select-selection-search {
                    min-width: 25px !important;
                }

                .lp-tag_filter {
                    margin: 2px;
                }
            }
        }

        p {
            cursor: pointer;
        }
    }
}
