.positions-list {
    display: flex;
    flex-direction: column;

    &__search {
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 10px;
    }

    .ant-list-item {
        border-block-end: none !important;
    }
}

